body {
  margin: 0;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  background-color: black;
  padding: 15px 0;
  white-space: nowrap;
}

.marquee-content {
  display: inline-block;
  /* Анимация: имя, длительность, тип, повторение */
  animation: marquee-animation 25s linear infinite;
}

.marquee-content a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-right: 50px; /* Отступ между фразами */
}

.marquee-content:hover {
    animation-play-state: paused; /* Останавливаем при наведении */
}

/* Определение анимации */
@keyframes marquee-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
