.running-line {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: #FFF;
  font-family: "Tilda Sans", Arial, sans-serif;
  font-weight: 500;
  position: relative;
  padding: 10px 0;
}

#marquee-container {
  display: inline-block;
}

.marquee-text-item {
  display: inline-block;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;
  font-size: 18px;
}

.marquee-text-item:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .marquee-text-item {
    font-size: 14px;
  }
}
